/* Add styles for the new page */
.centered-text {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

h1 {
  font-family: "Lucida Sans", sans-serif;
  font-size: 52px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 10px; /* Add some spacing below the heading */
}

.folders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px; /* Adjust the gap between the folders */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.folder:not(:last-child) {
  margin-right: 60px; /* Increase the right margin between folders in the same row */
}
  
