/* Add styles for the new page */
.centered-text {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

h1 {
  font-family: "Lucida Sans", sans-serif;
  font-size: 72px;
  font-weight: bold;
  color: #333333;
  text-transform: uppercase;
  margin-bottom: 20px; /* Add some spacing below the heading */
}

.folders {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 80px; /* Adjust the gap between the folders */
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.folder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.folder img {
  width: 150px;
  height: 150px;
  transition: filter 0.3s ease; /* Add transition effect for smooth color change */
}

.folder:hover img {
  filter: brightness(20%); /* Decrease brightness on hover */
}

.folder p {
  margin-top: 10px;
  color: black; /* Set folder name color to black */
}

.folder a {
  text-decoration: none; /* Remove the default underline */
}

.folder a:hover {
  text-decoration: underline; /* Add underline on hover */
}

.folder p {
  margin-top: 10px;
  color: black; /* Set folder name color to black */
  text-decoration: none; /* Remove underline for folder names */
}

.folder a:hover p {
  text-decoration: underline; /* Add underline to folder names on hover */
}

/* Add styles for the new page */
.centered-text {
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  position: relative;
  z-index: 1;
  margin-bottom: 40px;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.background-image {
  background-image: url("images/background_home3.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  position: relative;
}

.black-rectangle {
  background-color: rgba(16, 16, 16, 0.5);
  height: 85px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.logo {
  height: 85px;
  width: auto;
  margin-right: 10px;
}
